<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehaviorMeta">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:4444/Chat_Service/meta" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="ServiceBehaviorMeta" name="Chat_Server.Chat_Service">
                <endpoint address="http://localhost:4444/Chat_Service" binding="basicHttpBinding"
                    bindingConfiguration="" name="ChatServiceEndpunkt" contract="Chat_Server.IChat" />
            </service>
        </services>
    </system.serviceModel>
</configuration>